:root{
    --branco: #ffffff;
    --quase__branco: #f0f0f0;
    --cinza__claro: #dbdbdb;
    --cinza__esfumacado: #716f6f;
    --quase__preto: #141414;
    --roxo: #854dff;
    --vermelho__claro: #ff5757;
}

body{
    width: 100%;
    background-color: var(--cinza__claro);
}

.container__principal{
    width: 80%;
    background-color: var(--branco);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px 15px 70px 15px;
    padding: 40px 0;
}

.form__inputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form__label{
    font-size: 18px;
    font-weight: 600;
    color: var(--cinza__esfumacado);
}

.inputs{
    width: 80px;
    border: 1px solid var(--cinza__esfumacado);
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 7px;
    font-size: 20px;
    text-align: center;
    color: var(--quase__preto);
    font-weight: 700;
}

.inputs::placeholder{
    font-size: 20px;
    font-family: 'Arial';
}

.inputs:focus{
    border: 2px solid var(--roxo);
    outline: 0;
}

.inputs::-webkit-inner-spin-button{
    display: none;
}

.input__erro_falta, .input__erro_invalido, .input__erro_inexistente{
    width: 80px;
    font-size: 12px;
    color: var(--vermelho__claro);
    margin-top: 10px;
    display: none;
}

.erro{
    color: var(--vermelho__claro);
    border-color: var(--vermelho__claro);
}

.divisao__conteudo{
    display: inline;
    position: relative;
}

.divisao__linha{
    width: 80%;
    margin: 50px auto;
}

.divisao__imagem_resultado{
    background-color: var(--roxo);
    width: 30px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 30px);
    bottom: calc(50% - 27px);
}

.divisao__imagem_resultado:active{
    background-color: var(--quase__preto);
}

.resultados{
    text-align: center;
    color: var(--quase__preto);
    font-size: 42px;
    font-weight: 800;
}

.resultado__mostrador{
    color: var(--roxo);
    font-size: 55px;
}

@media screen and (min-width: 700px){

    .container__principal{
        width: 50%;
    }

}

@media screen and (min-width: 1100px){

    .container__principal{
        width: 40%;
        border-radius: 15px 15px 100px 15px;
    }
    
    .divisao__imagem_resultado{
        width: 50px;
        left: calc(90% - 35px);
        bottom: calc(50% - 35px);
    }

    .form__inputs{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 50px;
        gap: 30px;
    }

    .inputs{
        width: 100px;
        font-size: 28px;
    }

    .resultados{
        text-align: left;
        margin: 0 50px;
        font-size: 60px;
    }

    .resultados__texto{
        margin: 10px 0;
    }

    .resultado__mostrador{
        font-size: 75px;
    }

}